<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM"hibernate-configuration-3.0.dtd">

   <hibernate-configuration>
      <session-factory>
         <!-- Database connection settings -->
         <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
         <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hotel_management</property>
         <property name="hibernate.connection.username">root</property>
         <property name="hibernate.connection.password">Yashu@1406</property>
         <property name="hibernate.hbm2ddl.auto">update</property>

         <!-- Hibernate dialect -->
         <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

         <!-- Specify the package to scan for entity classes -->
         <mapping class="org.example.model.Room"/>
          <mapping class="org.example.model.App"/>
         <mapping class="org.example.model.Guest"/>
         <mapping class="org.example.model.Invoice"/>
         <mapping class="org.example.model.Reservation"/>
      </session-factory>
   </hibernate-configuration>